body {
  margin: 0 auto;
  max-width: 50rem;
}

a code {
  padding: 0.2rem 0.2rem;
}

pre {
  background-color: #040404;
  color: #feffff;
  overflow-x: scroll;
}

pre code {
  background-color: #040404;
  font-weight: normal;
  font-size: 0.8rem;
}

ul {
  padding: 0;
}
